<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacts</title>
    <meta charset="UTF-8"/>
     <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h2>List of contacts</h2>

<table>
    <tr>
        <th>Id</th>
        <th>nameFilter</th>
        <td th:text="${nameFilter}"></td>
    </tr>

    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}">Id</td>
        <td th:text="${contact.name}">Name</td>

    </tr>
</table>

</body>
</html>